<ul>
  <li><a class= "home_nav" href="http://flip3.engr.oregonstate.edu:8674/home">Home</a></li>
  <li><a class= "search_nav" href="http://flip3.engr.oregonstate.edu:8674/search">Search</a></li>
  <li><a class= "user_nav" href="http://flip3.engr.oregonstate.edu:8674/user">Login</a></li>
  <li><a class= "addHike_nav" href="http://flip3.engr.oregonstate.edu:8674/addhike">Add Hike</a></li>
  <li><a class= "rating_nav" href="http://flip3.engr.oregonstate.edu:8674/ratings">Ratings</a></li>
</ul>
<h1 align="center">Hikes of The Pacific Northwest</h1>
<h4 align="center" class=mainHeading>The Pacific Northwest is home to some of the most beautiful terrain you'll see anywhere in the world. 
	The best part is that anyone can enjoy this scenary as part of the numerous hikes available to the public. 
	We hope you will use this website to share these hikes with others and find new hikes along the way.</h4>
<br>
<h3 align="center"><img src="https://localadventurer.com/wp-content/uploads/2017/10/best-columbia-river-gorge-hikes.jpg" alt="Home Banner" style="width:700px;height:450px;">
<h3 align="center">Search for an Existing Hike</h3>
<form action="http://flip3.engr.oregonstate.edu:8674/search">
	<h3 align="center"> <input type="submit" value="Search for a hike">
</form>
<br>
<h3 align="center">Add/Delete a Hike</h3>
<form action="http://flip3.engr.oregonstate.edu:8674/addhike">
	<h3 align="center"> <input type="submit" value="Add a hike"> <input type="submit" value="Delete a hike">
</form>
<br>
<h3 align="center">Login or Create an Account</h3>
<form action="http://flip3.engr.oregonstate.edu:8674/user">
	<h3 align="center"> <input type="submit" value="Login Page">
</form>
<br>
<h3 align="center">Rate a Hike</h3>
<form action="http://flip3.engr.oregonstate.edu:8674/ratings">
	<h3 align="center"> <input type="submit" value="Add a rating">
</form>