<h1 align="center">Hiking Database</h1>

<h2>Home Page</h2>
<p>The home page will allow the user to view diffrent hike and ratings. We user SELECT on the hike-to-people relationship here and people-to-ratings relationship here. We also use UPDATE and DELETE on the hike table here</p>
<div>
    <a href="http://flip3.engr.oregonstate.edu:8674/home">Home Page Link</a>
</div>

<h2>Search Page</h2>
<p>The search page will allow the user to search for diffrent trails based on distance, elevation, difficulty or rating. We use SELECT and INSERT on the hike and ratings tables here.</p>
<div>
    <a href="http://flip3.engr.oregonstate.edu:8674/search">Search Page Link</a>
</div>

<h2>User Settings Page</h2>
<p>Adding new user, the user will fill out their first name, last name. We use INSERT on user table and hikes table here.</p>
<div>
    <a href="http://flip3.engr.oregonstate.edu:8674/user">New User Page Link</a>
</div>

<h2>Add Hike Page</h2>
<p>To use the hiking database, the user will be able to add hikes. We use INSERT on the hike and ratings tables here.</p>
<div>
    <a href="http://flip3.engr.oregonstate.edu:8674/addhike">Add Hike Page Link</a>
</div>

<h2>Add Ratings Page</h2>
<p>Adding ratings for each hike will be done on this page</p>
<div>
    <a href="http://flip3.engr.oregonstate.edu:8674/ratings">Add Hike Page Link</a>
</div>